.responsive-table-view-room {
  padding: 32px;
  width: 100%;
}

.table-header-view-room {
  background-color: #2980b9;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.col-view-room {
  flex-basis: 16.6666666667%;
  text-align: center;
}

.add-student-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.add-student-button {
  padding: 12px;
  background: #4373e6;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.select-bar {
  width: 70% !important;
  text-align: center;
  align-self: center;
}
.select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media all and (max-width: 767px) {
  .table-header-view-room {
    display: none !important;
  }
  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
    &:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
}
