.loader-container {
  position: fixed;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.puff-wrapper {
  width: 80px;
  height: 80px;
  background: linear-gradient(100deg, #c02633 10%, #ffffff 120%);
  border-radius: 50%;
}

.my-puff {
  width: 50px;
  height: 50px;
}

.floor-detail-container {
  min-height: 100vh;
  background-color: #d1d1d1;
}

.header-floor-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-floor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-floor-button {
  background-color: #4373e6;
  border: none;
  color: #fff;
  padding: 3px;
  border-radius: 8px;
  width: 120px;
  cursor: pointer;
  outline: none;
  line-height: 2;
  font-size: 20px;
}

.floor-data-container {
  padding: 32px;
}
.floor-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
table {
  width: 100%;
  background-color: #fff;
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
  border-radius: 12px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  line-height: 2;
}
th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 4;
  text-transform: uppercase;
  background-color: #002933;
  border: 1px solid #fff;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e9faff;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.image-container-failure {
  width: 80%;
  text-align: center;
}

.button-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.no-data-image {
  text-align: center;
  width: 100%;
  max-width: 30vw;
}

.floor-no-label {
  color: #000;
  margin-right: 5px;
}

.error-msg-add-floor {
  color: red;
}

.button-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.form-container- {
  width: fit-content;
  background-color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
}

.form-floor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container-floor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-floor {
  width: 80%;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.submit-button-floor {
  background-color: #4373e6;
  border: none;
  color: #fff;
  padding: 3px;
  border-radius: 8px;
  width: 80px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
}

.error-msg-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.close-button-container-floor {
  text-align: end;
}
.close-button-floor {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  outline: none;
}
