.loader-container {
  position: fixed;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.puff-wrapper {
  width: 80px;
  height: 80px;
  background: linear-gradient(100deg, #c02633 10%, #ffffff 120%);
  border-radius: 50%;
}

.my-puff {
  width: 50px;
  height: 50px;
}

.floor-detail-container {
  min-height: 100vh;
  background-color: #d1d1d1;
}

.header-floor-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-floor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-floor-button {
  background-color: #4373e6;
  border: none;
  color: #fff;
  padding: 3px;
  border-radius: 8px;
  width: 120px;
  cursor: pointer;
  outline: none;
  line-height: 2;
  font-size: 20px;
}

.floor-data-container {
  padding: 32px;
  padding-top: 5px;
}
.floor-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.image-container-failure {
  width: 80%;
  text-align: center;
}

.button-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.no-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.no-data-image {
  text-align: center;
  width: 100%;
  max-width: 30vw;
}

.floor-no-label {
  color: #000;
  margin-right: 5px;
}

.error-msg-add-floor {
  color: red;
}

.button-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.form-container- {
  width: fit-content;
  background-color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
}

.form-floor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-container-floor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-floor {
  width: 80%;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.submit-button-floor {
  background-color: #4373e6;
  border: none;
  color: #fff;
  padding: 3px;
  border-radius: 8px;
  width: 80px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
}

.error-msg-container-floor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.close-button-container-floor {
  text-align: end;
}
.close-button-floor {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  outline: none;
}

.col-floor {
  flex-basis: 16.6666666667%;
  text-align: center;
}
.col-floor-last {
  flex-basis: 16.6666666667%;
  border-right: none !important;
}

.responsive-table-floor {
  padding: 12px;
  margin-top: 25px;
}

li {
  padding-top: 16px;
  padding-bottom: 14px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-bottom: 0px;
}

.table-header-floor {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  background-color: #002933;
  padding: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  div {
    border-right: 1px solid #fff;
  }
}

@media all and (max-width: 767px) {
  .table-header-floor {
    display: none;
  }
  li {
    display: block;
  }
  .col {
    flex-basis: 100%;
  }
  .col {
    display: flex;
    padding: 10px 0;
    &:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }
  .table-row-floor {
    margin-bottom: 12px;
  }
}
