.loader-container {
  position: fixed;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.puff-wrapper {
  width: 80px;
  height: 80px;
  background: linear-gradient(100deg, #c02633 10%, #ffffff 120%);
  border-radius: 50%;
}

.my-puff {
  width: 50px;
  height: 50px;
}
