.access-container {
  min-height: 70vh;
}

.access-container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-access-image {
  width: 30%;
}
