* {
  margin: 0px;
  box-sizing: border-box;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(360deg, #274d56 50%, #273656 50%);
  border-radius: 0px;
  overflow-x: hidden;
  padding: 0px;
}

.hostel-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.hostel-images {
  max-width: 100%;
  height: auto;
}

.image-container-hostel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boys,
.girls {
  width: 250px;
  height: 250px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  transition: 1s ease;
}

.boys:hover,
.girls:hover {
  transform: scale(1.1);
  transition: 1s ease;
}

.boys {
  background-color: aqua;
}
.girls {
  background-color: pink;
}

.hostel-type {
  color: #000;
}

.home-heading {
  color: #fff;
  margin-bottom: 22px;
}

@media screen and (max-width: 767px) {
  .container1 {
    background-image: linear-gradient(90deg, #274d56 50%, #273656 50%);
  }
  .hostel-type-container {
    flex-direction: column;
  }
  .boys,
  .girls {
    width: 60%;
    height: 60vw;
  }
  .boys {
    margin-bottom: 8px;
  }
  .girls {
    margin-top: 8px;
  }
  .image-container-hostel {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .boys,
  .girls {
    width: 40%;
    height: 40vw;
  }
  .image-container-hostel {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .boys,
  .girls {
    width: 250px;
    height: 250px;
  }
  .image-container-hostel {
    width: 200px;
  }
}
