.update-detail-button {
  padding: 12px;
  background: #4373e6;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.table-row-admin {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.delete-icon:disabled {
  color: gray;
  cursor: not-allowed;
}
