.main-container{
    padding: 32px;
    background: linear-gradient(100deg, #C02633 10%, #ffffff 120%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: none;
    border-radius: 24px;
    width:80%;
    padding: 12px;
    
}
.image-container{
    width: 50%;
}


.foam-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    width: 100%;
}


.email-container{
    display: flex;
    flex-direction: column;
}

.labels{
    font-size: 24px;
    font-weight: bold;
}

.input-container{
    width: 80%;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.login-button{
    width: 100px;
    background: -webkit-linear-gradient(100deg, #C02633 10%, #ffffff 120%);
    padding: 12px;
    border: none;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    outline: none;
}


.error-msg{
    text-align: center;
    color: #C02633;
    font-size: 22px;
    width: 80%;
    font-weight: 500;
}


@media screen and (max-width:767px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-container{
        width: 90%;
    }

    .input-container,.button-container,.error-msg{
        width: 90%;
    }
    .main-heading{
        text-align: center;
    }
}